body {

    background: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    background-image: url("img/raspberries.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a:link, a:visited {
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    margin: -38px;
}


a:active {
    color: #e20c0a;
}

a:hover {
    background: #e57875;
    color: #fff;
}

main {
    margin: -10px 100px 25px 400px;
    padding: 25px 50px;
    background: #e20c0a;
    box-shadow: 5px 5px 20px #555;
}


nav {
    padding-bottom: 20px;
}

ul {
    display: block;
}


nav li {
    list-style-type: none;
    display: block;
}


h1 {
    font-family: 'Clicker Script', cursive;
    padding: 30px;
    background: #222;
    color: #f4ddda;
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
    margin-left: -50px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

h2 {
    #color: #fff;
    font-weight: 800;
}

footer {
    padding: 50px;
    text-align: center;
    color: #333;
}